.nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.nav {
    border-bottom: 3px solid #7252a2;
}

.nav a:hover {
    color: #7252a2;
}